@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500&family=Poppins:wght@100;200;400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;


}

body {
    background: url(https://wallpaperaccess.com/full/1540016.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

.card {
    padding: 20px 70px;
    color: white;
}

.info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.date_time {
    font-weight: 100;

}

.date_time .time {
    font-size: 70px;
    font-weight: 100;

}

.date_time #am-pm {
    font-size: 30px;
    font-weight: 20px;
}

.date_time .date {
    font-size: 35px;
}

.place {
    text-align: end;
}

.place .time-day {
    font-size: 35px;
    font-weight: 100;
}

.place .country {
    font-size: 10px;
    font-weight: 300;
    

}

.info .cites {
    display: flex;
    flex-direction: column;
    background-color: rgba(40, 41, 41, 0.6);
    padding: 20px;
    border-radius: 10px;
    margin: 10px 0 ;
    border: 1px solid white;
}

.info .cites .weather-items{
    display: flex;
    justify-content: space-between;
    
}

.future-weather{
    background-color: rgba(40, 41, 41, 0.8);
    padding: 25px;
    position: fixed;
    bottom: auto;
    display:flex ;
    color: white;
    width: 100%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.future-weather .weather-forecast {
    display: flex;

    
}