@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500&family=Poppins:wght@100;200;400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;


}

body {
    background: url(https://wallpaperaccess.com/full/1540016.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

.card {
    padding: 20px 70px;
    color: white;
}

.info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.date_time {
    font-weight: 100;

}

.date_time .time {
    font-size: 70px;


}

.date_time #am-pm {
    font-size: 30px;
    margin-left: 20px;
}

.date_time .date {
    font-size: 35px;
}

.place {
    text-align: end;
}

.place .time-day {
    font-size: 35px;
    font-weight: 100;
}

.place .country {
    font-size: 10px;
    font-weight: 300;


}

.info .cites {
    display: flex;
    flex-direction: column;
    background-color: rgba(40, 41, 41, 0.6);
    padding: 20px;
    border-radius: 10px;
    margin: 10px 0;
    border: 1px solid white;
}

.info .cites .weather-items {
    display: flex;
    justify-content: space-between;

}

.future-weather {
    background-color: rgba(40, 41, 41, 0.8);
    padding: 25px;
    position: fixed;
    bottom: 0;
    display: flex;
    color: white;
    width: 100%;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
}

.future-weather .today {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #eee;
   
    padding: 30px;
    padding-right: 45px;
    padding-bottom: 40px;
    border-radius: 55px;
    background: rgba(0, 0, 0, 0.2)
}

.future-weather .today .day {
    padding: 5px 15px;
    background: #343333;
    border-radius: 50px;
    text-align: center;

}

.future-weather .today .temp {
    font-size: 20px;
    padding-top: 15px;
}

.future-weather .weather-forecast {
    display: flex;

}

.future-weather .weather-forecast-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    padding: 15px;
    border: 1px solid #ffffff;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.2);
}

.future-weather .weather-forecast-item .day {
    padding: 5px 15px;
    background: #343333;
    border-radius: 50px;
    text-align: center;


}

.future-weather .weather-forecast-item .temp {
    font-weight: 100;
    font-size: 15px;
}

.src-btn {
    background-color: rgba(40, 41, 41, 0.6);
    background: transparent;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    font-size: 13px;
    margin: 4px 2px;
    display: inline-block;

}

.search-bar {
    background-color: rgba(40, 41, 41, 0.6);
    background: transparent;
    border: 1px solid #ffffff;
    border-radius: 5px;
    padding: 10px;
    cursor: auto;
    font-size: 13px;
    margin: 4px 2px;
    color: white;


}

.palce-line
{
    background-color: rgba(40, 41, 41, 0.8);
    padding: 25px;
    bottom: 0;
    color: white;
    overflow-x: hidden;
    right: 0;
    height: 100%;
    width: 100%;
    padding-bottom: 24px; 
    justify-content: center;
    align-items: center;
    
    
    
}

.palce-line .search{
    margin-bottom: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    padding-right: 45px;
    padding-bottom: 40px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.2)

}

.palce-line .search-cities{
    display: flex;
    flex-direction: column;
    background-color: rgba(40, 41, 41, 0.6);
    padding: 20px;
    border-radius: 10px;
    margin: 10px 0;
    
}


.palce-line .search-cities .city{
    display: flex;
    justify-content: between;
    padding: 20px;
    text-align: center;
    margin: 0 10px;
    
}

.info .todayWeather{
    display: flex;
    flex-direction: column;
    background-color: rgba(40, 41, 41, 0.6);
    padding: 20px;
    border-radius: 10px;
    margin: 10px 0;
    border: 1px solid white;
    font-size: 19px;
    
    
   
}

.info .todayWeather .air_temperature{
    display: flex;
    
    align-items: center;
    

}
.info .todayWeather .sunset{
    display: flex;
    justify-content:space-between;
    align-items: center;
    
    

}
.info .todayWeather .sunrise{
    display: flex;
    justify-content:space-between;
    align-items: center;
   
    

}




