* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.btn{
    border: 0;
    padding: 10px 25px;
    background-color: #d2d2d2;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}

body.light{
   .col-12{
    background-color: rgba(40, 41, 41, 0.8);
   }
}

body.dark{
    .col-12{
        background-color: rgba(116, 149, 149, 0.8);
       }
}