@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500&family=Poppins:wght@100;200;400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body.light {
    background: url(https://wallpaperaccess.com/full/1540016.jpg);
    background-repeat: repeat;
    background-size: cover;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    overflow-y: scroll;
    
}
body.dark {
    background: url(https://images.unsplash.com/photo-1536543857086-85cb8a7791c1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1632&q=80);
    background-repeat: repeat;
    background-size: cover;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    overflow-y: scroll;
    
}

.container-fluid {
    padding: 20px 70px;
    color: white;
    
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

body.light .date_time {
    font-weight: 100;
    background-color: rgba(40, 41, 41, 0.6);
    padding: 20px;
    border-radius: 10px;
    margin: 10px 0;
    text-align: end;
    font-family: 'Poppins', sans-serif;
    display: block;


}
body.dark .date_time {
    font-weight: 100;
    background-color: rgba(196, 215, 215, 0.4);
    padding: 20px;
    border-radius: 10px;
    margin: 10px 0;
    text-align: end;
    font-family: 'Poppins', sans-serif;
    display: block;


}

.date_time .time {
    font-size: 70px;
}

.date_time #am-pm {
    font-size: 30px;
    margin-left: 20px;
}

.date_time .date {
    font-size: 35px;
}

.place {
    text-align: start;
    padding: 20px;
    font-family: 'Poppins', sans-serif;

}

.place .time_day {
    font-size: 80px;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;

}

.place .country {
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
}

body.light .todayWeather {
    background-color: rgba(40, 41, 41, 0.6);
    font-family: 'Poppins', sans-serif;
    border-radius: 10px;
    font-size: 35px;
    display: flex;
    font-weight: 100;
    justify-content: space-between;
    padding: 20px;
    



}
body.dark .todayWeather {
    background-color:rgba(196, 215, 215, 0.4);
    font-family: 'Poppins', sans-serif;
    border-radius: 10px;
    font-size: 35px;
    display: flex;
    font-weight: 100;
    justify-content: space-between;
    padding: 20px;
    



}

.air_temperature {
    align-items: center;
}
/*.todayWeather .air_temperature {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border-radius: 20px;
    padding: 5px 15px;
    border-radius: 50px;
    text-align: center;
}*/

.sunset {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    padding: 15px;
    border-radius: 20px;
    padding: 5px 15px;
    border-radius: 50px;
    text-align: center;
}

 .sunrise {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    padding: 15px;
    border-radius: 20px;
    padding: 5px 15px;
    border-radius: 50px;
    text-align: center;
}

body.light .search {
    color: #ffffff;
    padding: 20px;




}

body.dark .search {
    color: #000000;
    padding: 20px;




}
body.light  .search-bar {
    background-color: rgba(40, 41, 41, 0.6);
    border: 1px solid #ffffff;
    border-radius: 5px;
    padding: 14px 45px;
    cursor: pointer;
    margin: 5px 2px;
    color: #eee;
    font-size: 20px;


}
body.dark  .search-bar {
    background-color: rgba(172, 196, 196, 0.4);
    border: 1px solid #294045;
    border-radius: 5px;
    padding: 14px 45px;
    cursor: pointer;
    margin: 5px 2px;
    color: #eee;
    font-size: 20px;


}
body.light .src-btn {
    background-color: rgba(40, 41, 41, 0.6);
    border: 1px solid #ffffff;
    border-radius: 5px;
    padding: 14px 35px;
    cursor: auto;
    font-size: 15px;
    margin: 4px 2px;
    color: white;
    justify-content: center;
    font-family: 'Poppins', sans-serif;

}
body.dark .src-btn {
    background-color: rgba(172, 196, 196, 0.4);
    border: 1px solid #294045;
    border-radius: 5px;
    padding: 14px 35px;
    cursor: auto;
    font-size: 15px;
    margin: 4px 2px;
    color: white;
    justify-content: center;
    font-family: 'Poppins', sans-serif;

}

body.light .weatherItemsDay {
    background-color: rgba(40, 41, 41, 0.6);
    border: 1px solid white;
    border-radius: 5px;
    padding: 25px;
    bottom: 0;
    margin: 10px 0;
    font-weight: 100;
    justify-content: space-between;
    display: flex;
    overflow-y: hidden;
    font-size: 25px;



}

body.dark .weatherItemsDay {
    background-color: rgba(196, 215, 215, 0.4);
    border: 1px solid white;
    border-radius: 5px;
    padding: 25px;
    bottom: 0;
    margin: 10px 0;
    font-weight: 100;
    justify-content: space-between;
    display: flex;
    overflow-y: hidden;
    font-size: 25px;



}

.weatherItemsDay .weatherItemsDay_id {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    padding: 15px;
    border-radius: 20px;
}

.weatherItemsDay .weatherItemsDay_id .items {
    padding: 5px 15px;
    border-radius: 50px;
    text-align: center;

}
body.light .col-12 {

    background-color: rgba(40, 41, 41, 0.8); 
    padding: 25px;
    bottom: 0;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
}

body.dark .col-12 {

    background-color: rgba(160, 189, 189, 0.6); 
    padding: 25px;
    bottom: 0;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
}

.today {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #eee;
    padding: 30px;
    padding-right: 45px;
    padding-bottom: 40px;
    border-radius: 55px;
    background: rgba(0, 0, 0, 0.2)
}

.today .day {
    padding: 5px 15px;
    background: #343333;
    border-radius: 50px;
    text-align: center;

}

.today .temp {
    font-size: 20px;
    padding-top: 15px;
}

.weather-forecast {
    display: flex;

}

.weather-forecast-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    padding: 15px;
    border: 1px solid #ffffff;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.2);
}

.weather-forecast-item .day {

    padding: 5px 15px;
    background: #343333;
    border-radius: 50px;
    text-align: center;

}

.weather-forecast-item .temp {
    font-weight: 100;
    font-size: 15px;
}


@media screen and (max-width:576px) {
    .date_time {
        display: none;
    }

    .weatherItemsDay .weatherItemsDay_id {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 10px;
        padding: 15px;
        border: 1px solid #ffffff;
        border-radius: 20px;
        text-align: end;

    }


    .todayWeather .air_temperature {
        font-size: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #eee;
        padding: 30px;
        padding-right: 45px;
        padding-bottom: 40px;
        border-radius: 55px;
        background: rgba(0, 0, 0, 0.2);
        text-align: end;
    }

     .sunset {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 10px;
        padding: 15px;
        border: 1px solid #ffffff;
        border-radius: 20px;
    }

     .sunrise {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 10px;
        padding: 15px;
        border: 1px solid #ffffff;
        border-radius: 20px;
    }


}

input::placeholder {
    font: 15px/2 sans-serif;
    color: #eee;
}

body.light .btn{
    border: 0;
    padding: 10px 25px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    background-color: rgba(216, 202, 202, 0.5);;
}
body.dark .btn{
    border: 0;
    padding: 10px 25px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    background-color: rgba(216, 202, 202, 0.5);;
}


/*input[type="checkbox"] {
    -webkit-appearance: none;
    visibility: hidden;
    display: none;
}

.check {
    position: relative;
    display: block;
    width: 40px;
    height: 20px;
    background-color: #343333;
    cursor: pointer;
    border-radius: 20px;
    overflow: hidden;
    transition: ease-in 0.5s;
}

input[type="checkbox"] {
    background: #ffffff ;
    box-shadow: 0 0 0 1200px #343333 ;
}
.check::before{

}*/

.col-11{
    background-color: rgba(40, 41, 41, 0.0);
    padding: 25px;
    bottom: 0;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
}
.col-1{
    background-color: rgba(40, 41, 41, 0.0);
    padding: 25px;
    bottom: 0;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
}